body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
li.livesearchli {
    width: 300px;
    display: block;
    padding: 10px;
    position:relative;
}

input#searchtext {
    position: relative;
    padding: 5px 10px;
    margin-top: 7px;
    margin-left: 100px;
    top: -5px;
}

ul#livesearchul{
    position:absolute;
    background:#222;
    right: -10px;
    top: 70px;
    padding:0;
}

ul#livesearchul .close{
    position: absolute;
    list-style:none;
    color:#fff;
    right: 10px;
    top: 0;
    z-index:10;
    padding: 0;
}

body > .chatbox {
    position: absolute;
    left: -3000px;
}

.chat {
    position: fixed;
    bottom: 0;
    right: 30px;
}

    .chat ul li {
        cursor: pointer;
        margin: 10px;
        list-style: none;
        padding: 10px;
    }

        .chat ul li img {
            width: 30px !important;
        }

.chatboxholder {
    position: fixed;
    bottom: 0;
    right: 130px;
    width: 100%;
    height: 50px;
}

.chatbox {
    width: 300px;
    height: 400px;
    background: #222;
    position: absolute;
    bottom: 0;
    right: 0;
}

    .chatbox h4 {
        position: absolute;
        top: -65px;
        left: 0;
        z-index: 5;
        background: #222;
        width: 100%;
        padding: 5px;
    }

    .chatbox img {
        width: 30px !important;
        margin-bottom: 15px;
    }

.chatboxtext {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    background: white;
    width: 90%;
    height: 270px;
    z-index: 1;
    margin: 0 auto;
    max-height: 270px;
    overflow: scroll;
    padding: 10px;
}

.chattextarea {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 40px;
    width: 90%;
    height: 60px;
    padding: 10px;
}

a.sendchat {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.chat ul li.msg {
    background: green;
    color: white;
}
